@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}
h1.text-center {
  text-align: center;
  font-family: 'Poppins', sans-serif;


}
.image{
  padding: 60px;
}

